
  <div class="col-md-3">
    <p>{{post.author}}</p>
  </div>
  <div class="col-md-5">
    <p>{{post.question}}</p>
  </div>
  <div class="col-md-2">
    <p>{{post.category}}</p>
  </div>
  <div class="col-md-2">
    <p>{{post.timestamp}}</p>
  </div>
