
  <div class="col-md-3">
    <p>{{post.author}}</p>
  </div>
  <div class="col-md-6">
    <p>{{#link-to 'post' post.id}}{{post.question}}{{/link-to}}</p>
  </div>
  <div class="col-md-2">
    <p>{{post.category}}</p>
  </div>
  <div class="col-md-1">
    <p class="date">{{post.timestamp}}</p>
  </div>
