header {
  background-color: #FA9D04;
  color: #3F362A;
}

body{
  background-color: #9C6A49
;
  color: #3F362A;
  margin-top: 180px;
  margin-bottom: 70px;
  bottom: 0;
  font-family: arista;
  font-size: 1.3em;
}

button {
  background-color: #FA9D04;
}

.about-body {
  text-align: justify;
}

.ask-a-question {
  font-size: 1.4em;
  width: 500px;
  transition: .5s;
}

.ask-a-question:hover {
  color: #f2f2eb;
  width: 525px;
}

.center {
  text-align: center;
}

.comment-body {
  text-indent: 30px;
}

.date {
  font-family: sans-serif;
  font-size: .9em;
}

.form-padding {
  padding-left: 80px;
  padding-right: 80px;
}

.header-links a {
  font-size: 1.5em;
  color: #f2f2eb;
  transition: .5s;
}

.header-links a:hover {
  font-size: 1.7em;
  color: #151210;
}

.logo {
  text-align: center;
  font-family: arista-bold;
  font-size: 8em;
}

.main-container {
  background-color: #FEF596;
  font-size: 1.2em;
  min-height: 1000px;
  max-height: 1000px;
  overflow-y: scroll;
  padding: 25px;
}

.main-body {
  font-size: 1.3em;
}

.page-header {
  font-size: 2.5em;
}

.post-body {
  text-align: justify;
}

.question-title {
  font-size: 2.1em;
}
