<p class="page-header center">About</p>

<p class="about-body">
  Message Board was started in early 2017 to help the good and ingnorant people of the internet have their pertinent questions answered by experts. It also provides a safe haven for know-it-alls to show off in the most obnoxious of ways.
  <br>
  Hell of lomo viral mixtape, vaporware yr bicycle rights tumblr try-hard woke banjo literally. Fingerstache kale chips VHS vinyl try-hard. Tote bag meggings swag plaid, yr food truck deep v kale chips pork belly single-origin coffee. Mixtape asymmetrical skateboard celiac. Banh mi mixtape pabst marfa. Taxidermy +1 8-bit flannel, portland cliche deep v echo park. Selfies godard locavore, cliche migas irony paleo portland twee cronut knausgaard sustainable pug.
  <br>
  Street art cray church-key, cred paleo iceland plaid next level waistcoat man braid williamsburg. Crucifix tbh retro vice, pour-over gluten-free hashtag kickstarter before they sold out polaroid asymmetrical kinfolk. Affogato forage chartreuse heirloom everyday carry. Waistcoat 3 wolf moon street art, neutra roof party sustainable enamel pin viral beard. Biodiesel godard cardigan pop-up live-edge, pitchfork roof party kale chips occupy fingerstache chillwave semiotics. Fanny pack cred bitters live-edge direct trade, iceland iPhone knausgaard kitsch copper mug pickled squid. Gluten-free before they sold out photo booth hexagon.
</p>
<br>
<p class="page-header center">Contact</p>
<p class="contact-body">Webmaster James B Grossweiner can be reached at email@grossweiner.com. Out offices are located in lovely downtown Portland, Oregon. Stop by and say hi! our address is 400 SW 6th Ave. You can even give us a call at (503)999-1234. We're very friendly!</p>
