<p class="page-header center">About</p>
<p class="about-body">
  Music Hole was started in <span class="date">1895</span> by Jebidiah von MusicHole. It has been a mainstay of music goings-on ever since. Way-back-when, music used to be whispered or sung or played or somethin' and now it's mostly ones and zeroes. That's okay though, it all sounds the same when you're barely paying attention. Anyway music is for everyone and everything! Dogs, humans, parakeets, carpets, the general atmosphere...which reminds me...if you fall down a music hole and no one is around can they hear you scream in space??
</p>
<p class="page-header center">Contact</p>
<p class="about-body">Our fearless leader, James B Grossweiner can be reached at <a href="http://pixel.nymag.com/imgs/daily/vulture/2016/04/18/30-rock-kimmy-schmidt/18-weinerslav.w710.h473.2x.jpg"><span class="date">weinerslave@grossweiner.com</span></a>. Our offices are located in the shadow of the <strong>Deathstar</strong> in lovely downtown Portland, Oregon. Stop by and say hi! our address is <span class="date">400 SW 6th Ave</span>. You can even give us a call at <span class="date">(503)999-1234</span>. We're very friendly, I promise!</p>
