<div class="row">
  <p class="main-body center">Music Hole is an interactive community for music lovers. Feel free to post trivia questions, ernest inquiries, snarky opinions or gushing record reviews. </p>
</div>
<br>
<div class="row center">
  {{save-post savePost="savePost"}}
</div>
<br>
<div class="row post-list">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <h2><u>Author</u></h2>
      </div>
      <div class="col-md-6">
        <h2><u>Question</u></h2>
      </div>
      <div class="col-md-2">
        <h2><u>Category</u></h2>
      </div>
      <div class="col-md-1">
        <h2><u>Date</u></h2>
      </div>
    </div>
    <div class="row">
      {{#each model as |post|}}
      {{show-all-posts post=post}}
      {{/each}}
    </div>
  </div>
</div>
