<p class="page-header center">Main</p>
<br>
<div class="row">
  <p class="main-body">Thanks for joining our forum! As you can clearly see, there is a list of questions below. If you think you have an answer or if you would like more context for that question, click the link. It will take you to a page where you can post a response or a comment. Happy posting!</p>
</div>

<div class="row center">
  {{save-post savePost="savePost"}}
</div>

<div class="row post-list">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <h4>Author</h4>
      </div>
      <div class="col-md-5">
        <h4>Question</h4>
      </div>
      <div class="col-md-2">
        <h4>Category</h4>
      </div>
      <div class="col-md-2">
        <h4>Date</h4>
      </div>
    </div>
    <hr>
    <div class="row">
      {{#each model as |post|}}
      {{show-all-posts post=post}}
      {{/each}}
    </div>
  </div>
</div>
